<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>


    
    <img src="post office.png">
    <h1> Delete By Sender
    </h1>
</form>
    <form action="/deleteboth" method="POST">
     
        <input type="text" name="deletesender2" /> Sender
        <input type="text" name="deleteweight" /> Weight
        <button> Delete</button>

    <ul>
        <li><a href= "addparcel">Add Parcel</a></li>
    <li><a href="listparcel">List Parcels</a></li>
    <li><a href="delete">Delete Parcel</a></li>
    <li><a href="update">Update</a></li>
    <li><a href="deleteboth">Delete by sender and weight</a></li>
        
      </ul>
    
</body>

</html>